@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Japanese', serif;
    font-weight: 100;
}


/* logo,menu part */

.head{
    height: 15%;
    width: 100%;
}

.head:after{
    content: "";
    display: block;
    clear: both;
}

.logo{
    float: left;
    background: white;
    height: 100%;
    width: 30%;
}

.menu{
    float: left;
    height: 100%;
    width: 70%;
}

.home{
    float: left;
    background: white;
    height: 100%;
    width: 25%;
}
.home:hover{
    background: #ebf6f7;
}

.works{
    float: left;
    background: white;
    height: 100%;
    width: 25%;
}
.works:hover{
    background: #ebf6f7;
}

.contact{
    float: left;
    background: white;
    height: 100%;
    width: 25%;
}
.contact:hover{
    background: #ebf6f7;
}


.about_me{
    float: left;
    background: white;
    height: 100%;
    width: 25%;
}
.about_me:hover{
    background: #ebf6f7;
}

    
/* article part */

.article{
    background: #c1e4e9;
    height: 80%;
}

.slide_img{
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}

.view_screen{
}


/* copy right part */

.copy_r{
    Background: white;
    height: 5%;
}