@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Japanese', serif;
    font-weight: 100;
}


/* logo,menu part */
.Top {
  width: 100vw;
  height: 100vh;
  background: url("../img/fab.png");
  background-color: #4588AD;
  background-size: contain;
}
