.Top {
  width: 100vw;
  height: 100vh;
  background: url("../img/fab.png");
  background-color: #4588AD;
  background-size: contain;
  text-align: center;
  color: #fff;
}

.Top__title {
  text-align: center;
  font-weight: 300;
}

.Top__text {
  font-weight: 600;
}
